.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  background-color: gainsboro;
}

.unit-price {
  text-align: center;
  margin: 5px;
}

.card-body {
  text-align: center;
  color: indigo;
}

.total_price div {
  display: flex;
  justify-content: space-between;
  margin-left: 750px;
  margin-right: 750px;
  padding-top: 30px;
}

.total_price {
  font-family: "Franklin Gothic Medium";
  font-size: x-large;
  text-align: center;
  display: block;
  color: rgb(98, 43, 226);
}
